<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Logs/" />
  <targets>
    <target name="accesslog" xsi:type="File" encoding="unicode" fileName="${logDirectory}/access.log" archiveFileName="${logDirectory}/access.${shortdate}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="100" enableArchiveFileCompression="true" />
    <target name="errorlog" xsi:type="File" encoding="unicode" fileName="${logDirectory}/error.log" archiveFileName="${logDirectory}/error.${shortdate}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="100" enableArchiveFileCompression="true" />
    <target name="apigwlog" xsi:type="File" encoding="unicode" fileName="${logDirectory}/apigw.log" archiveFileName="${logDirectory}/apigw.${shortdate}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="intervaljoblog" xsi:type="File" encoding="unicode" fileName="${logDirectory}/intervaljob.log" archiveFileName="${logDirectory}/intervaljob.${shortdate}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="performancejoblog" xsi:type="File" encoding="unicode" fileName="${logDirectory}/performancejob.log" archiveFileName="${logDirectory}/performancejob.${shortdate}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <logger name="accesslogger" minlevel="Info" writeTo="accesslog" />
    <logger name="errorlogger" minlevel="Info" writeTo="errorlog" />
    <logger name="apigwlogger" minlevel="Info" writeTo="apigwlog" />
    <logger name="intervaljoblogger" minlevel="Info" writeTo="intervaljoblog" />
    <logger name="performancejoblogger" minlevel="Info" writeTo="performancejoblog" />
  </rules>
</nlog>