<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="PMSContext" connectionString="data source=DESKTOP-AS3C2MR;initial catalog=PMSDataBase_UAT;persist security info=True;user id=sa;password=0975067057;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=160" providerName="System.Data.SqlClient" />
		<!-- <add name="PMSContext" connectionString="data source=S05-WEBDB-VT1;initial catalog=PMSDataBase_UAT;persist security info=True;user id=devadmin;password=devadmin@123;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=160" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="EnableIProxy" value="1" />
	 <add key="ClientId" value="dff6933d-f731-402f-957c-c88e1a0ee373" />
		<add key="ClientSecret" value="5Vq8Q~rgvpO3QyMkqssgFpeLfYD8YTI8GXRYrauD" />
		<add key="ida:Wtrealm" value="api://dff6933d-f731-402f-957c-c88e1a0ee373" />
		<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
		<add key="ida:Tenant" value="1efa3961-fa37-4153-9253-38b8c63be196" />
		<add key="PostLogoutRedirectUri" value="https://localhost:44320/" />
		<add key="RedirectUri" value="https://localhost:44320/signin-oidc" />
		<add key="uri" value="https://localhost:44320/" />
		<add key="AzureAuthority" value="https://login.microsoftonline.com/" />
		<add key="AzureRedirect" value="https://localhost:44320/" />
		<add key="AppId" value="171985008" />
		<add key="AzureRedirect" value="http://localhost/" />
		<add key="AzureRedirectError" value="https://localhost:44329/Login/Error" />
		<add key="appkey" value="__PMS" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<!--<add key="folder_store_temp_barcode" value="D:\Projects\PMS\Code\NewPolicy\App\WebApp\images\Temp\Barcode\" />-->
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ProxySever" value="http://10.115.50.11:9090" />
		<add key="NumberShowCaptCha" value="3" />
		<add key="ReCaptCha-Site-Key" value="6Le-TpgUAAAAAFuVBMGirRLgBR9WmzuyYeB5Fu3b" />
		<add key="ReCaptCha-Secret-Key" value="6Le-TpgUAAAAAMCss4Qg_VpvNjDXZ5kjuOSLXEJ4" />
		<add key="DevWriteLists" value="10.115.66.64,10.115.88.104,10.115.50.11,::1,172.16.19.214,127.0.0.1" />
		<add key="SessionTimeout" value="20000" />
		<add key="HIS_API_SERVER_URL" value="https://apigw-test.vinmec.com:8243" />
		<add key="HIS_API_SERVER_TOKEN" value="546d60f0-ad41-3035-9be3-a7785fc5f76b" />
		<!--<add key="HIS_API_SERVER_URL" value="https://apigw.vinmec.com:8243" />
        <add key="HIS_API_SERVER_TOKEN" value="6fb6b5c8-599e-3503-b5a6-722e0b4a7c9d" />-->
		<!--OH Connection info-->
		<add key="OHService_URL" value="http://svm-uat-msg01.vingroup.local:8091/services/ChargeDetailService?wsdl" />
		<add key="OHService_Token" value="cmhhcF9pbnQ6VmlubWVjQDEyMw==" />
		<add key="OHServiceUsername" value="rhap_int" />
		<add key="OHServicePassword" value="Vinmec@123" />
		<add key="HiddenError" value="false" />
		<!--MongoDB config-->
		<add key="UriMongoDBCn.Queue" value="mongodb://localhost/DIMSQueue" />
		<add key="UriMongoDBCn.MasterData" value="mongodb://localhost/DIMSMasterData" />
		<add key="UpdateDimsChargeQueue" value="UpdateDimsChargeQueue" />
		<!--Time schedule config-->
		<!--Sync Department-->
		<add key="SyncOHDepartment_CS" value="0 58 16 ? * *" />
		<add key="SynceHosDepartment_CS" value="0 48 14 ? * *" />
		<!--Sync Service-->
		<add key="SyncOHService_CS" value="0 34 23 ? * *" />
		<add key="SynceHosService_CS" value="0 48 14 ? * *" />
		<!--<add key="SyncOHRevenue_CS" value="0 0/05 0/1 ? * * *"/>-->
		<add key="SyncOHRevenue_CS" value="0 48 14 ? * *" />
		<add key="SyncViHCRevenue_CS" value="0 48 14 ? * *" />
	</appSettings>
	<system.web>
		<machineKey decryption="AES" decryptionKey="5E22D3A5C53C1447244196E47FBA3D91116B6C2501F1AB1D" validation="HMACSHA256" validationKey="A65351D3680216E65217EA81009BA2DAEE8B7282296E78F33B0A53AEFB9FE8D793B8BB125E5DD3C521925AD77FC073384E8A586A99217BFCB65376CB2B772601" />
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<!--secure flag & HTTPCOOKIEONLY-->
		<!--<httpCookies requireSSL="true" httpOnlyCookies="true" />-->
		<!--<httpCookies httpOnlyCookies="true" sameSite="Strict" />-->
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<!--Remove header information-->
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
				<remove name="X-Powered-By-Plesk" />
				<remove name="Server" />
				<!--Clickjacking hacker breaking-->
				<!--<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />-->
       
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<cors enabled="true" failUnlistedOrigins="true">
      -->
		<!--<add origin="*" />-->
		<!--
      <add origin="http://localhost:8086" allowCredentials="true">
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="POST" />
          <add method="PUT" />
          <add method="DELETE" />
        </allowMethods>
      </add>
    </cors>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IronSoftware.Logger" publicKeyToken="212d70e9efeae4c7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.4471" newVersion="1.0.0.4471" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
<!--ProjectGuid: 011F3F05-8245-4D1A-911D-28EDB4150452-->