<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PMSContext" connectionString="data source=S05-WEBDB-VT1;initial catalog=PMSDataBase;persist security info=True;user id=phubq;password=Pempem@123;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=160" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="PMS | Sync Data Manager" />
    <add key="SiteCode" value="ALL" />
    <!--API config information-->
    <add key="ApiTimeout.minutes" value="5" />
    <!--<add key="HIS_API_SERVER_URL" value="https://apigw-test.vinmec.com:8243" />
    <add key="HIS_API_SERVER_TOKEN" value="546d60f0-ad41-3035-9be3-a7785fc5f76b" />-->
    <add key="HIS_API_SERVER_URL" value="https://apigw.vinmec.com:8243"/>
    <add key="HIS_API_SERVER_TOKEN" value="6fb6b5c8-599e-3503-b5a6-722e0b4a7c9d"/>
    <!--Time schedule config-->
    <add key="SetMasterData_CS" value="0 0/05 0/1 ? * * *" />
    <!--Sync Hospital-->
    <add key="SyncOHHospital_CS" value="0 38 15 ? * *" />
    <!--Sync Department-->
    <add key="SyncOHDepartment_CS" value="0 48 15 ? * *" />
    <!--Sync Service-->
    <add key="SyncOHService_CS" value="0 50 15 ? * *" />
    <!--Auto Update Patient In Package Status-->
    <add key="AutoUpdatePatientInPackageStatus_CS" value="0 0/45 0/1 ? * * *" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>